.*
onedrive
onedrive.1
onedrive.o
version
Makefile
config.log
config.status
autom4te.cache/
contrib/pacman/PKGBUILD
contrib/spec/onedrive.spec
contrib/systemd/onedrive.service
contrib/systemd/onedrive@.service


# Ignore everything in the .github folder
.github/*

# Allow actions/spelling in .github
!.github/actions/spelling/

# Ensure spellcheck.yaml in .github is not ignored
!.github/actions/spelling/spellcheck.yaml
