<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>OneDrive</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>org.onedrive.cli.macos</string>
	<key>CFBundleName</key>
	<string>OneDrive</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.5.10</string>
	<key>CFBundleVersion</key>
	<string>48</string>
	<key>OneDriveKeychainAccessGroup</key>
	<string>$(AppIdentifierPrefix)org.onedrive.cli.macos.shared</string>
	<key>OneDriveAppGroupIdentifier</key>
	<string>$(TeamIdentifierPrefix)org.onedrive.cli.macos</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
